* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    
}

nav {
    height: 15vh;
}

ul li a {
    width: 5.5rem;
    height: 1.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.1rem;
    color: white;
}

ul li {
    padding: .5rem;
    /* background-color: rgb(240, 240, 240); */
    background-color: #d90468;
}

ul li:hover {
    transform: scale(1.2);
    transition: 1s;
}

.a--active {
    animation-name: fondo;
    animation-duration: 1s;
}

@keyframes fondo {
    0% {
        background-color: #d90468;
    }
    50% {
        background-color: white;
        color: black;
    }
    100% {
        background-color: #d90468;
    }
}

.nav--img--logo {
    height: 10vh;
}

.nav--css {
    background-color: rgb(185, 185, 185);
}

header {
    /* background-color: rgb(240, 240, 240); */
    background-color: #ffc00775;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;

}

h1 {
    color: #d90468;
    margin:0px;
}

header a {
    text-decoration: none;
    color: #d90468;
    font-size: 5rem;
}

main {
    flex-grow: 1;
    height: 100%;
}


footer {
    height: 10vh;
    background-color: #ffc007ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 2rem;

}

footer p {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-size: 1.5rem;
}

footer figure {
    height: 5vh;
}

figure img {
    height: 5vh;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input--search {
    width: 20rem;
    height: 2.2rem;
}

.stats--table {
    width: 90%;
    margin: auto;
}

table {
    width: 90%;
    margin: auto;
}

table thead {
    background-color: rgb(240, 240, 240);
    height: 2.5rem;
}

table thead tr th {
    border: solid 1px black;
    font-size: 1.5rem;
    padding: .5rem;
}

table tbody tr td {
    border: solid 1px black;
    padding: .5rem;
}

.table--col {
    width: 33%;
}

.table--br {
    height: 2px;
}

.a-btn {
    background-color: #d90468;
    color: white;
}

.main--div--grande {
    border: 1px solid black;
    width: 80%;
    height: 80%;
    margin: auto;
}

.details--figure {
    height: 90%;
    width: 45%;
    /* border: 1px solid black; */

}

.details--article {
    height: 90%;
    width: 45%;
    /* border: 1px solid black; */

}

#exampleFormControlTextarea1 {
    height: 8rem;
    resize: none;
}

article div p {
    margin-bottom: .1rem;
}

.details--main {
    min-height: 60vh;
}

.contact--main, .stats--main {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1400px) {
    
    main {
        min-height: 60vh;
    }
}


@media (max-width: 1400px) {
    
    main {
        height: 100%;
    }

    .div--cards {
        flex-wrap: wrap;
    }
    
    .card {
        margin: 1rem;
    }
    
    .contact--main, .stats--main {
        min-height: 60vh;
        padding-top: 2rem;
    }

    #exampleFormControlTextarea1 {
        height: 8rem;
    }

    .details--main {
        height: 60vh;
    }
}

@media (max-width: 1200px) {
    
    main {
        height: 100%;
    }

    .div--cards {
        flex-wrap: wrap;
    }
    
    .card {
        margin: 1rem;
    }

    .contact--main, .stats--main {
        min-height: 60vh;
    }

    .details--main {
        height: 60vh;
    }
}


@media (max-width: 992px) {
    
    main {
        height: 100%;
    }

    .div--cards {
        flex-wrap: wrap;
    }
    
    .card {
        margin: 1rem;
    }

    .contact--main, .stats--main {
        min-height: 60vh;
    }

    .details--main {
        height: 60vh;
    }
}

@media (min-width: 577px) and (max-width: 768px) {

    .nav--img--logo {
        height: 7.5vh;
    }

    header {
        height: 10vh;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    header a {
        font-size: 3rem;
    }

    .form--checkboxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .index--form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .div--cards {
        display: flex;
        flex-wrap: wrap;
        
    }

    .input--search {
        width: 70vw;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .card {
        margin-bottom: 2rem;
    }
/* 
    footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
    } */

    .form-control {
        width: 100%;
    }

    .contact--main {
        height: 100%;
        margin-bottom: 1.5rem;
    }

    .stats--main {
        min-height: 65vh;
    }

    .form-label {
        font-size: 1.5rem;
    }

    .form-control {
        height: 4rem;
    }

    #exampleFormControlTextarea1 {
        height: 8rem;
    }

    .a-btn {
        height: 3rem;
        width: 6rem;
        font-size: 1.2rem;
        
    } 

    ul li a {
        width: 100%;
        text-align: left;
    }

    .details--main {
        height: 65vh;
    }

    .details--h3 {
        margin-top: .5rem;
        margin-bottom: .2rem;
    }
}


@media (max-width: 576px) {
    nav {
        height: 10vh;
        width: 100vw;
    }

    .nav--img--logo {
        height: 5vh;
    }

    header {
        height: 10vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header a {
        font-size: 3rem;
    }

    main {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .index--form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .div--cards {
        display: flex;
        flex-direction: column;
        
    }

    .input--search {
        width: 80vw;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .form--checkboxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
        
    }

    .input--search {
        width: 75%;
    }

    .card {
        margin-bottom: 1rem;
    }

    footer {
        bottom: 0px;
    }

    .form-control {
        width: 100%;
        height: 2rem;
    }

    .contact--main {
        height: 70vh;
    }

    footer {
        position:inherit;
    }

    .form-label {
        font-size: 1rem;
    }

    #exampleFormControlTextarea1 {
        height: 5rem;
    }

    ul li a {
        width: 100%;
        text-align: left;
    }

    .main--div--grande {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .details--main {
        height: 70vh;
    }

    .details--figure, .details--article {
        width: 90%;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: .5rem 2rem;
        font-size: 1.5rem;
    }

    footer p {
        font-size: 1rem;
    }

    footer figure {
        margin-bottom: .5rem;
    }
}